<aside class="navigation" [class.open]="menuOpen">
    <div class="navigation__toggle-content">
        <button class="navigation__toggle" (click)="toggleAside()">
            <span></span><span></span><span></span>
        </button>
        <div class="navigation__toggle-logo">
            <img src="assets/img/logo" alt="Logo Santander Caceis">
        </div>
    </div>
    <div class="navigation__content">
        <div class="navigation__logo">
            <!-- <h3>Logo</h3> -->
            <img src="assets/img/logo.png" alt="Logo Santanger Cadeis">
            <hr>
        </div>
        <div class="navigation__links">
            <div class="navigation__item-search">
                <input type="text"
                    placeholder="Pesquisar"
                >
            </div>
            <a class="navigation__links-item">
                <span class="navigation__item-icon">
                </span>
               Monitoramento
            </a>
        </div>
    </div>
</aside>
