<div class="card card-details" [class.active]="animation">
    <div class="card-header">
        <p>
            <span class="mr-2"><fa-icon [icon]="faInfoCircle"></fa-icon></span> Details
        </p>
        <span class="btn close" (click)="sair()">
            <fa-icon [icon]="faTimes"></fa-icon>
        </span>
    </div>
    <div class="card-body">
        <br>
        <h5>{{node.name}} </h5>
        <div class="logo">
            <img *ngIf="logo" src="{{origin}}/assets/img/nodes-subtypes-icon/{{logo}}" alt="{{logo}}">
        </div>
        <p *ngIf="node.report_To"><strong>Report to: </strong> {{node.report_To}} </p>

        <div class="table-responsive w-100 mb-4">
            <table class="table table-dark mb-0"*ngIf="node.statusItems">
                <thead>
                    <tr>
                        <th class="bg-blue">BG</th>
                        <th class="bg-blue">Checked On</th>
                        <th class="bg-blue">Item</th>
                        <th class="bg-blue">Status</th>
                        <th class="bg-blue"></th>
                    </tr>
                </thead>
                <tbody *ngIf="node.statusItems.length > 0;">
                    <tr *ngFor="let item of node.statusItems; index as i">
                        <td>{{item.bg}}</td>
                        <td>{{item.checked_On}}</td>
                        <td>{{item.item}}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                {{item.status | lowercase}} 
                                <span class="status" [class.status-ok]="(item.status | lowercase) == 'ok'"
                                    [class.status-warning]="(item.status | lowercase) == 'warning'"
                                    [class.status-down]="(item.status | lowercase) == 'down'">
                                    <fa-icon *ngIf="(item.status | lowercase) == 'ok'" [icon]="faCheckCircle"></fa-icon>
                                    <fa-icon *ngIf="(item.status | lowercase) == 'warning'" [icon]="faTriangleExclamation"></fa-icon>
                                    <fa-icon *ngIf="(item.status | lowercase) == 'down'" [icon]="faTimesCircle"></fa-icon>
                                </span>
                            </div>
                        </td>
                        <td
                                [ngbPopover]="popContent"
                                [disablePopover]="!item.message"
                                [popoverTitle]="'Message'"
                                triggers="mouseenter:mouseleave"
                                #p="ngbPopover"
                                [autoClose]="false"
                                [positionTarget]="'adaptive'"
                                placement="left"
                                (mouseenter)="p.open({content: item.message})">
                            <span *ngIf="item.message" class="p-1">
                                <fa-icon [icon]="faMagnifyingGlassPlus"></fa-icon>
                            </span>
                            <!-- triggers="mouseenter:mouseleave" -->
                        </td>
                    </tr>
                </tbody>
                <ng-container *ngIf="node.statusItems.length == 0"
                    [ngTemplateOutlet]="noRegister" 
                    [ngTemplateOutletContext]="{colspan:5}">
                </ng-container>
            </table>
        </div>
        <div class="table-responsive w-100 mb-4">
            <table class="table table-dark mb-0">
                <thead>
                    <tr>
                        <th colspan="2" class="bg-blue">Dependents</th>
                    </tr>
                </thead>
                <tbody *ngIf="node.dependents.length > 0;">
                    <tr *ngFor="let item of node.dependents" (click)="selectNode(item)" class="tr-selectable">
                        <td>{{item.name}}</td>
                        <td class="text-right text-end"> 
                            {{item.status | lowercase}} 
                            <span class="status" [class.status-ok]="(item.status | lowercase) == 'ok'"
                                  [class.status-warning]="(item.status | lowercase) == 'warning'"
                                  [class.status-down]="(item.status | lowercase) == 'down'">
                                <fa-icon *ngIf="(item.status | lowercase) == 'ok'" [icon]="faCheckCircle"></fa-icon>
                                <fa-icon *ngIf="(item.status | lowercase) == 'warning'" [icon]="faTriangleExclamation"></fa-icon>
                                <fa-icon *ngIf="(item.status | lowercase) == 'down'" [icon]="faTimesCircle"></fa-icon>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <ng-container *ngIf="node.dependents.length == 0"
                    [ngTemplateOutlet]="noRegister" 
                    [ngTemplateOutletContext]="{colspan:2}">
                </ng-container>
            </table>
        </div>
        <div class="table-responsive w-100 mb-4">
            <table class="table table-dark mb-0">
                <thead>
                    <tr>
                        <th colspan="2" class="bg-blue">Depends On</th>
                    </tr>
                </thead>
                <tbody *ngIf="node.dependsOn.length > 0">
                    <tr *ngFor="let item of node.dependsOn" (click)="selectNode(item)" class="tr-selectable">
                        <td>{{item.name}}</td>
                        <td class="text-right text-end" style="white-space: nowrap"> 
                            {{item.status  | lowercase}} 
                            <span class="status" [class.status-ok]="(item.status | lowercase) == 'ok'"
                                  [class.status-warning]="(item.status | lowercase) == 'warning'"
                                  [class.status-down]="(item.status | lowercase) == 'down'">
                                <fa-icon *ngIf="(item.status | lowercase) == 'ok'" [icon]="faCheckCircle"></fa-icon>
                                <fa-icon *ngIf="(item.status | lowercase) == 'warning'" [icon]="faTriangleExclamation"></fa-icon>
                                <fa-icon *ngIf="(item.status | lowercase) == 'down'" [icon]="faTimesCircle"></fa-icon>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <ng-container *ngIf="node.dependsOn.length == 0"
                    [ngTemplateOutlet]="noRegister" 
                    [ngTemplateOutletContext]="{colspan:2}">
                </ng-container>
            </table>
        </div>
    </div>
</div>

<ng-template #noRegister let-colspan="colspan">
       <tbody>
            <tr>
                <td [attr.colspan]="colspan">No register found.</td>
            </tr>
       </tbody>
</ng-template>


<ng-template #popContent let-content="content">
    <p>{{content}}</p>
</ng-template>
<ng-template #popTitle>Message!</ng-template>