<div class="card" [class.active]="animation">
    <div class="card-header">
        <p>
            <span class="mr-2"><fa-icon [icon]="faInfoCircle"></fa-icon></span> Details
        </p>
        <span class="btn close" (click)="voltar()">
            <fa-icon [icon]="faTimes"></fa-icon>
        </span>
    </div>
    <div class="card-body">
        <br>
        <h5>{{node.name}} </h5>
        <div class="logo">
            <img src="{{origin}}/assets/img/{{node.img}}" alt="{{node.img}}">
        </div>
        <p><strong>Report to: </strong> {{node.report_to}} </p>
        <div class="card-status" *ngFor="let item of node.statusItems; index as i">
            <p>
                <strong>Item: </strong> {{item.item}}
            </p>
            <p>
                <strong>Status: </strong> {{item.status}} <span class="status" [class.status-ok]="(item.status | lowercase) == 'ok'"
                      [class.status-warning]="(item.status | lowercase) == 'warning'"
                      [class.status-danger]="(item.status | lowercase) == 'danger'">
                    <fa-icon *ngIf="(item.status | lowercase) == 'ok'" [icon]="faCheckCircle"></fa-icon>
                    <fa-icon *ngIf="(item.status | lowercase) == 'warning'" [icon]="faTriangleExclamation"></fa-icon>
                    <fa-icon *ngIf="(item.status | lowercase) == 'danger'" [icon]="faTimesCircle"></fa-icon>
                </span>
            </p>
            <p>
                <strong>Message: </strong> {{item.message}}
            </p>
        </div>
        <br>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th colspan="2" class="bg-blue">Dependents</th>
                </tr>
            </thead>
            <tbody *ngIf="node.dependents.length > 0; else noRegister">
                <tr *ngFor="let item of node.dependents">
                    <td>{{item.name}}</td>
                    <td class="text-right text-end"> {{item.status}} <span class="status" [class.status-ok]="(item.status | lowercase) == 'ok'"
                              [class.status-warning]="(item.status | lowercase) == 'warning'"
                              [class.status-danger]="(item.status | lowercase) == 'danger'">
                            <fa-icon *ngIf="(item.status | lowercase) == 'ok'" [icon]="faCheckCircle"></fa-icon>
                            <fa-icon *ngIf="(item.status | lowercase) == 'warning'" [icon]="faTriangleExclamation"></fa-icon>
                            <fa-icon *ngIf="(item.status | lowercase) == 'danger'" [icon]="faTimesCircle"></fa-icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th colspan="2" class="bg-blue">Depends On</th>
                </tr>
            </thead>
            <tbody *ngIf="node.dependsOn.length > 0; else noRegister">
                <tr *ngFor="let item of node.dependsOn" >
                    <td>{{item.name}}</td>
                    <td class="text-right text-end" style="white-space: nowrap"> {{item.status}} 
                        <span class="status" [class.status-ok]="(item.status | lowercase) == 'ok'"
                              [class.status-warning]="(item.status | lowercase) == 'warning'"
                              [class.status-danger]="(item.status | lowercase) == 'danger'">
                            <fa-icon *ngIf="(item.status | lowercase) == 'ok'" [icon]="faCheckCircle"></fa-icon>
                            <fa-icon *ngIf="(item.status | lowercase) == 'warning'" [icon]="faTriangleExclamation"></fa-icon>
                            <fa-icon *ngIf="(item.status | lowercase) == 'danger'" [icon]="faTimesCircle"></fa-icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #noRegister>
    <tbody>
        <tr>
            <td colspan="2">No register found.</td>
        </tr>
    </tbody>
</ng-template>